:root {
    --light-grey: #f4f4ed;
    --blue: #8093f1;
    --blue--hover: #8B9CF2;
    --cyan: #72ddf7;
    --purple: #b388eb;
    --pink: #f7aef8;

    --light-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    --light-box-shadow--hover: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

/* region === Elements */

body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* endregion */

/* region === Button */

.button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--blue);
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 100ms ease-in;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-1px);
}

.button--blue {
    background-color: #fff;
    color: var(--blue);
    border-color: var(--blue);
}

.button--blue:hover {
    color: var(--blue--hover);
    border-color: var(--blue--hover);
}

/* endregion */

/* region === Container */

.container {
    max-width: 720px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* endregion */

/* region === Progress */

.progress__container {
    height: 2rem;
    border-radius: 0.5rem;
    background: var(--light-grey);
    margin-bottom: 0.75rem;
}

.progress__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    border-radius: 0.5rem;
    overflow-x: hidden;
    background: var(--blue);
    color: #fff;
    box-shadow: var(--light-box-shadow);
    transition: all 250ms ease-in;
}

.progress__bar--hidden {
    box-shadow: none;
}

/* endregion */
