<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Analysis</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<div class="container">

    <h1>Twitter Analysis</h1>
    <h2>Joosep Franz Moorits Alviste</h2>

    <canvas id="chart"></canvas>

    <br />

    <div class="progress__container">
        <div class="progress__bar progress__bar--hidden" id="progress-bar"></div>
    </div>

    <button class="button button--blue" id="analyze-button">
        Analyze tweets
    </button>

</div>
</body>
</html>